{% load static %}
<!-- OUR GALLERY  -->
<div class="widget widget_gallery mfp-gallery">
    <h4 class="widget-title">Portfolio</h4>
    <ul>
        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/wood-floor.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/thumb/wood-floor.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic2.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/thumb/pic2.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic3.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/thumb/pic3.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic4.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/thumb/pic4.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic5.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/thumb/pic5.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic6.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/thumb/pic6.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic7.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/thumb/pic7.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic8.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/thumb/pic8.jpg' %}" alt="">
                </a>
            </div>
        </li>
    </ul>
</div>