            <!-- SIDEBAR START -->
            <div class="col-lg-4 col-md-12">
              <aside class="side-bar">
                <div class="empty50"></div>
                <?php include '../partials/sidebar-map-widget.php'; ?>
                <?php include '../partials/sidebar-whatsapp-widget.php'; ?>
                <?php include '../partials/sidebar-diensten-ticker.php'; ?>
                <?php include '../partials/sidebar-portfolio.php'; ?>
              </aside>
            </div>
            <!-- SIDE BAR END -->