{% load static %}
<!-- OUR GALLERY  -->
<div class="widget widget_gallery mfp-gallery">
    <h4 class="widget-title">Portfolio</h4>
    <ul>
        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/vloeren-houten-vloer-afwerking-15.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/vloeren-houten-vloer-afwerking-15.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic1.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/pic1.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic2.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/pic2.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic4.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/pic4.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic5.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/pic5.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/badkamer-en-toilet-tegelwerk-17.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/badkamer-en-toilet-tegelwerk-17.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic7.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/pic7.jpg' %}" alt="">
                </a>
            </div>
        </li>

        <li>
            <div class="mt-post-thum">
                <a href="{% static 'img/gallery/pic8.jpg' %}" class="mfp-link">
                    <img src="{% static 'img/gallery/pic8.jpg' %}" alt="">
                </a>
            </div>
        </li>
    </ul>
</div>