                                                    <div class="clearfix">
                                                        <h4>Deel dit bericht:</h4>
                                                        <div class="widget_social_inks">
                                                            <ul
                                                                class="social-icons social-md social-square social-dark m-b0">
                                                                <li><a href="https://www.facebook.com"
                                                                        class="fa fa-facebook"></a></li>
                                                                <li><a href="https://twitter.com"
                                                                        class="fa fa-twitter"></a>
                                                                </li>
                                                                <li><a href="https://rss.com" class="fa fa-rss"></a>
                                                                </li>
                                                                <li><a href="https://www.youtube.com"
                                                                        class="fa fa-youtube"></a></li>
                                                                <li><a href="https://in.linkedin.com"
                                                                        class="fa fa-instagram"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>