                                                                       <!-- NEWSLETTER -->

                                                                       <div
                                                                           class="widget widget_newsletter-2 bg-white  ">
                                                                           <h4 class="widget-title  ">Vraag een Offerte
                                                                               Aan</h4>
                                                                           <div class="newsletter-bx p-a30">
                                                                               <div class="newsletter-icon">
                                                                                   <i class="fa fa-envelope-o"></i>
                                                                               </div>

                                                                               <div class="newsletter-content">
                                                                                   <p>Vraag een offerte aan</p>
                                                                               </div>
                                                                               <div class="m-t20">
                                                                                   <form role="search" method="post">
                                                                                       <div class="input-group">
                                                                                           <input name="news-letter"
                                                                                               class="form-control"
                                                                                               placeholder="ENTER YOUR EMAIL"
                                                                                               type="text">
                                                                                           <span
                                                                                               class="input-group-btn">
                                                                                               <button type="submit"
                                                                                                   class="site-button"><i
                                                                                                       class="fa fa-paper-plane-o"></i></button>
                                                                                           </span>
                                                                                       </div>
                                                                                   </form>
                                                                               </div>
                                                                           </div>
                                                                       </div>