{% extends "admin/base_site.html" %}
{% block content %}
<h1>Hosting</h1>
<table class="adminlist">
    <tr>
        <th>Pakket</th>
        <td>…</td>
    </tr>
    <tr>
        <th>Provider</th>
        <td>…</td>
    </tr>
    <tr>
        <th>CPU / RAM</th>
        <td>…</td>
    </tr>
    <tr>
        <th>Opslag</th>
        <td>…</td>
    </tr>
    <tr>
        <th>Back-ups</th>
        <td>Dagelijks</td>
    </tr>
    <tr>
        <th>Vervaldatum</th>
        <td>…</td>
    </tr>
    <tr>
        <th>Opmerking</th>
        <td>…</td>
    </tr>
</table>
{% endblock %}